.form__labelText {}

.form__field {
    max-width: 300px;
    height: 50px;
    width: 100%;
    padding: 20p;
    margin: 10px;
    border: 3px solid #35819e;
    border-radius: 5px;

}

.form__button {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: hsla(192, 59%, 34%, 0.729);
    border: none;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.form__button:hover {
    background-color: hsla(192, 59%, 45%, 0.729);
}

.form__button:active {
    background-color: hsla(192, 59%, 65%, 0.729);
}

.form__result {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    background-color: #59909f54;

}

.form__field:valid {
    background-color: rgba(126, 184, 228, 0.329);
}